{% extends "base.html" %}
{% block content %}
  <h1>
    Dish List
    <a href="{% url 'kitchen:dish-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if dish_list %}
    <ul>
      {% for dish in dish_list %}
        <li>
        <strong>
          <a href="{% url "kitchen:dish-detail" pk=dish.id %} ">{{ dish.id }} {{ dish.name }}</a>
          , price({{ dish.price }})
        </strong><br>
        Discription: {{ dish.discription }}<br>
        </li>
        <br>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no dish in kitchen</p>
  {% endif %}
{% endblock %}